@model IEnumerable<Note>
@{
    ViewData["Title"] = "Notes";
}
<div class="row">
    <div class="notes w-100 d-flex flex-column justify-content-around">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-action="Create" class="btn btn-success btn-new-note">New Note</a>
        }

        <hr>

        <div class="d-flex justify-content-around flex-nowrap">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("_ViewNote.cshtml", item)
            }
        </div>
    </div>
</div>